.projectList {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: .85;
  padding-top: 2.3rem;
  padding-left: 2.3rem;
  background-color: #0d202f;
  border-left: 1px solid #ccc;
}

.projects {
  margin: 2rem;
  
}

.project {
  margin: 1rem;
  margin-top: 1rem;
  margin: 0.2rem;
}

.technologies {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.techIcon {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.techIcon span {
  margin-left: 1rem;
}

